<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 별명을 지어서 사용 -->
		<typeAlias type="com.multi.mini6.bookpage.vo.LibrariesVO" alias="librariesVO"></typeAlias>
		<typeAlias type="com.multi.mini6.bookpage.vo.BooksLibrariesVO" alias="booksLibrariesVO"></typeAlias>
		<typeAlias type="com.multi.mini6.bookpage.vo.BooksHistoryVO" alias="booksHistoryVO"></typeAlias>
		<typeAlias type="com.multi.mini6.bookpage.vo.BooksVO" alias="booksVO"></typeAlias>
		<typeAlias type="com.multi.mini6.bookpage.vo.BookVO" alias="bookVO"></typeAlias>
		<typeAlias type="com.multi.mini6.bookpage.vo.PageVO" alias="pageVO"></typeAlias>

		<typeAlias type="com.multi.mini6.loginpage.vo.AuthorityVO" alias="authorityVO"></typeAlias>
		<typeAlias type="com.multi.mini6.loginpage.vo.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="com.multi.mini6.loginpage.vo.MemberDeleteReasonVO" alias="memberDeleteReasonVO"></typeAlias>
		<typeAlias type="com.multi.mini6.loginpage.vo.PasswordChangeDTO" alias="passwordChangeDTO"></typeAlias>
		<typeAlias type="com.multi.mini6.loginpage.vo.GuestBookVO" alias="guestBookVO"></typeAlias>
	</typeAliases>

	<mappers>
		<!-- SQL문 정의하는 파일들의 목록을 지정. -->
		<mapper resource="mapper/MemberSQL.xml" />
		<mapper resource="mapper/BookSQL.xml" />
		<mapper resource="mapper/BookUploadSQL.xml" />
		<mapper resource="mapper/GuestBookEntrySQL.xml" />
	</mappers>


</configuration>




